@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=vietnamese');
@charset "utf-8";
*{
	margin:0;
	padding:0;
}
body{
	font-size:14px;
	font-family: 'Quicksand', sans-serif;
	line-height:1.8em;
	color:#333;
	background-color: #fff;
}
.bg-site, body {
    width: 100%;
    height: 100%;
    background-position: center;
}
html, body, div, span,strong{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
}
/* Clearfix */
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
ol, ul{margin-bottom: 0;}

* html > body .clearfix {
	display: block;
	width: 100%;
}

* html .clearfix {
	height: 1%;
}
ul li{list-style: none;}

a{text-decoration:none; color:#373737;}
a:hover{color:#40A7AD; text-decoration: none;}
img{border:0;}
.clear{
  
    overflow:hidden;
    clear:both;
}
.wrapper{width: 100%; overflow-x: hidden;}
.header-bar, #architecture, #result-aff, #reason-why, #step-aff, #contact-form, .title_footer, #copyright, #policy{width: 80%; margin: auto;}
/* .aff-logo img{max-width: 100%; text-align: center; max-height: 60px;}
.aff-logo{padding: 5px 0px; }
.navi-left ul li{display: inline-block;}
.navi-left ul li a{padding: 5px 35px; font-family: 'Quicksand', sans-serif; font-weight: 600; font-size: 16px;}
.navi-left ul li a.active{color: #f5063f;}
.navi-left ul{margin-bottom: 0px; padding: 20px 0px;}
.menu-top-aff ul li{text-align: left !important;}
.menu-top-aff ul li a{padding: 5px 35px; font-family: 'Quicksand', sans-serif; font-weight: 600; font-size: 16px;}
.welcome-user:hover{text-decoration: none;}
.welcome-user span{position: relative; top: 5px;}
.btn-action .dropdown-menu{width: 70%;}
.btn-action .dropdown-menu li{display: block;}
.btn-action .dropdown-menu li a{padding: 5px 15px; font-size: 14px; font-weight: 400;} */
/* .avatarImage{margin: 4px 8px 0 0;border-radius: 50%; border: 2px solid #FFF;width: 35px; height: 35px;}
a.dropdown-toggle.welcome-user {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}
.btn-action ul{margin-bottom: 0;}
.btn-action ul li{display: inline-block;}
.navbar-default{border: none; margin-bottom: 0;}
.navbar{min-height: 40px; margin-bottom: 0;}
.navbar-respnove{display: none;}
.btn-action{text-align: right;}
.btn-signin{color: #40a6ab;}
.btn-signin:hover, .btn-login:hover{text-decoration: underline;}
.btn-login:hover{text-decoration: none; color: #fff;}
.btn-login{color: #fff; background: #f80640; border-radius: 3px; padding: 10px 25px !important; text-transform: uppercase; font-size: 12px !important;} */
.navigation{text-align: right;}
.slider-top img{width: 100%;}
.slider-top {
    position: relative;
    background-image: url(../images/bg-aff.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*.content-slider{position: absolute; width: 100%; height: 100%; top: 10%;}*/
#content-slider{width: 80%; margin: auto;}
#content-slider h2{font-size: 30px; color: #ffc549; text-transform: uppercase; margin-top: 0px;}
#content-slider h4{font-size: 26px; color: #fff; position: relative;}
#content-slider p{color: #ebebeb; font-size: 18px; padding-left: 30px; background: url(../images/check.png) no-repeat center left; margin-bottom: 5px;}
.btn-registry{color: #fff; background: #f80640; font-size: 25px; text-transform: uppercase; font-weight: 600; font-family: 'Quicksand', sans-serif; padding: 20px 25px; border-radius: 2px; display: inline-block; margin-top: 20px;
 	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.btn-registry:hover{color: #f8e706;}
.solution{position: relative;}
.solution img{max-height: 330px; max-width: 100%; width: auto; }
#architecture{margin-top: 20px;}
.content-architecture{text-align: center;}
.content-architecture h3{font-size: 30px; font-weight: 600;}
.content-architecture h3 span{color: #f80640;}
.des-architecture{width: 60%; margin: auto;}
.des-architecture p{font-size: 16px; font-weight: 600;}
.items-result{text-align: center;}
.items-result img{/* border: solid 1px #fff; border-radius: 50%; */}
.result-aff{text-align: center; padding: 20px 0px; background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed;}
.result-aff h3{font-size: 36px; color: #fff; font-weight: 600; margin-bottom: 20px;}
.result-aff h4{color: #ee8d70; font-size: 30px; font-weight: 600; margin-bottom: 5px;}
.result-aff p{font-size: 16px; color: #fff; font-weight: 600;}
.title-content{font-size: 36px; color: #424242; font-weight: 600; margin-bottom: 20px; text-align: center; text-transform: uppercase;}
.reason-why{padding: 20px 0px;}
.items-reason{position: relative; margin-top: 40px; }
#items-reason{background: #5aa0ae; border-radius: 4px; padding: 20px; text-align: center; color: #fff; min-height: 190px; margin-bottom: 40px;}
#items-reason img{margin-top: -65px;}
#items-reason h4{text-transform: uppercase; font-size: 18px;}
#items-reason .des-reason{font-size: 16px;}
.items-step img{width: 100%;}
.img-architecture img{width: 100%;}
.items-step{text-align: center;}
.items-step .des-step{width: 80%; margin: auto;}
.contact-form{margin-top: 40px;}
.content_textarea{width: 100%;}
.line-input{margin-bottom: 15px;}
.button-contact{background: #34a0a5; font-size: 16px; text-transform: uppercase; font-weight: 600; color: #fff; padding: 10px 25px;}
.line-input input{height: 40px;}


.policy{margin-top: 40px;}
.policy-content ul li{padding-left: 30px; background: url(../images/check_blue.png) no-repeat 1px 5px; margin-bottom: 20px; line-height: 18px;}
.policy-content ul li p{margin-bottom: 5px; font-weight: 600;}
.become-aff{
  padding:20px 0px;
    background-image: url(../images/bg-be-aff.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed;
}
.become-aff{text-align: center; color: #fff;}
.become-aff h2{font-weight: 600; margin-top: 30px;}

.div_footer{
  width: 100%;
  background-color: rgb(45,43,44);
  border-top: 2px rgb(246,7,64);
  padding: 20px 0;

}
.title_footer{
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
.title_footer a{
  color: #999 ;
}
.title_footer a:hover{
  color: white ;
  text-decoration: none;
}
.title_center{
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}
.title_center h1{
  color: rgb(254,143,38);
  font-weight: bold;
  font-size: 30px;
}
.title_center p{
  color: white;
  font-size: 20px;
}
.tag_a_footer:hover{
  color: white;
}
.copyright {
  
}
.border-top{border-top: solid 1px #3f3f3f;}
.column-footer ul li p{color: #b0b0b0; font-size: 24px; font-weight: 600;}
.column-footer ul li, .contact-ft{color: #858585;}
.copyright{background: #1c1a1a; padding: 10px 0px;}
.copyright p{margin-bottom: 0; color: #3c3b3b;}

/*----------------------Define-------------*/
.clear{clear: both;}
.align-center{text-align: center;}
.align-right{text-align: right;}

.blog-content{margin-top: 40px; margin-bottom: 40px;}

.sub-blog li a{text-transform: none !important; font-size: 12px !important;}
.wp-blog-content{width: 90%; margin: auto; padding-top: 40px;}
.items-blog{margin-bottom: 20px;}
.items-blog .img-blog img{width: 100%; padding-top: 5px;}
.right-item-blog h2{line-height: 26px; margin-top: 0px;}
.right-item-blog h2 a{
  font-size: 24px;
    color: #333;
}
.a2a_kit.a2a_default_style{display: inline-block; margin-right: 20px; float: left;}
.social-detail .fb_iframe_widget, .social .fb_iframe_widget{
      float: left;
    margin-right: 20px;
    line-height: 20px;
}
#___plusone_0{
  float: left !important;
}
.social{float: right;}
.right-item-blog p {
    font-size: 14px;
    color: #4c4c4c;
    line-height: 26px;
    margin-bottom: 10px;
    text-align: justify;
}
.right-item-blog #view-detail{display: inline-block; color: #428bca; padding-left: 20px;}

#title-name-blog{font-size: 32px; margin-bottom: 15px;}
.decsrt-blog{font-weight: bold; font-style: italic; font-size: 14px; margin-bottom: 10px;}
.social-detail{margin-top: 10px;}
.content-blog{font-size: 14px;}
.banner-blog img{width: 100%;}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.moudle-right{margin-bottom: 20px;}
#moudle-right{}
.moudle-right h4{background: #3B5998; color: #fff; line-height: 40px; border-radius: 4px 4px 0px 0px; padding: 0px 20px; text-transform: uppercase; font-size: 13px;}

.moudle-right ul li {
    padding: 7px 10px;
    font-weight: 400;
}
.menu-left{
  list-style: none;
    border: 1px solid #ddd;
    padding: 8px 12px;
    /* margin: 5px 0; */
    border-radius:0px 0px 4px 4px;
    -webkit-border-radius:0px 0px 4px 4px;
    -moz-border-radius:0px 0px 4px 4px;
    background: #fff;
}
.menu-left ul li a {
    color: #3a1f04;
    font-size: 14px;
}
.menu-left ul li a i {
    color: red;
}
.menu-left ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
ul.pagination{text-align:center;color:#337ab7; display: block;}
ul.pagination li{display:inline-block;padding:0 3px;vertical-align:middle}
ul.pagination a{color:#337ab7;display:inline-block;padding:5px 10px;border:1px solid #337ab7;text-decoration:none; border-radius: 4px;}
ul.pagination a:hover,ul.pagination a.current{background:#337ab7;color:#fff; border: solid 1px #337ab7; border-radius: 4px;}
.footer_company img {
    max-width: 50%;
}
.require{color: red;}


.policy-check input[type=checkbox].css-checkbox {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}

.policy-check input[type=checkbox].css-checkbox + label.css-label {
    padding-left:29px;
    height:22px; 
    display:inline-block;
    line-height:22px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:22px;
    vertical-align:middle;
    cursor:pointer;
}

.policy-check input[type=checkbox].css-checkbox:checked + label.css-label {background-position: 0 -22px;}
.policy-check label.css-label {
    background-image:url(../images/policy_checkbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.link-policy{color: #005eff !important; font-family: Arial !important; font-size: 14px;}
.link-policy:hover{text-decoration: underline;}
.css-label{font-family: Arial !important; font-weight: 400; font-size: 14px !important;}
#checkbox_policy{height: auto !important;}

@media screen and (min-width:1200px){   
    
}
@media screen and (max-width:1199px){
	.navi-left ul li a{padding: 5px 15px;}
}

@media screen and (min-width:1024px) and (max-width:1199px){
}

@media screen and (max-width:1023px){    
}

@media screen and (min-width:992px) and (max-width:1023px){

}

@media screen and (max-width:991px){
    .header-bar, #contact-form, .title_footer{width: 100%; padding: 0px 20px;}
    .title_footer, #reason-why{padding: 20px;}
    #architecture, #result-aff, #reason-why, #step-aff, #contact-form, #copyright{width: 100%;}
    #content-slider h2{font-size: 25px;}
    #content-slider h4{font-size: 18px; color: #fff; position: relative;}
	#content-slider p{color: #919392; font-size: 14px;}
	#content-slider .btn-registry{font-size: 14px; padding: 8px 20px; margin-top: 10px;}
	.content-slider{top: 2%;}
	.solution{display: none;}
	.navigation{display: none;}
	.navbar-respnove{display: block;}
	.title-content{font-size: 25px !important;}
	
}

@media screen and (min-width:768px) and (max-width:991px){
}

@media screen and (max-width:767px){
    .title-content{font-size: 18px !important;}
    .column-footer{text-align: center; margin-top: 10px;}
}
@media screen and (max-width:600px){
}
@media screen and (min-width:480px) and (max-width:767px){
    
}

@media screen and (max-width:479px){
}
@media screen and (max-width:240px){

}
